* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.text {
  margin: 16px;
  border-bottom: 1px dotted #000;
  display: flex;
  position: relative;
}

.tooltip {
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  bottom: -40px;
  display: none;
}

div:hover .tooltip {
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  bottom: -40px;
  display: block;
}
