* {
  box-sizing: border-box;
}

.text {
  margin: 16px;
  text-decoration: 1px dotted black;
}

.tooltip {
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  bottom: -40px;
  display: inline-block;
}
