* {
  box-sizing: border-box;
}

div {
}

.text {
  margin: 16px;
  text-decoration: 1px dotted black;
}

.tooltip {
  background-color: grey;
  color: white;
  visibility: hidden;
  /* border-radius: 4px; */
  /* padding: 8px; */
  /* bottom: -40px; */
}

div:hover .tooltip {
  background-color: grey;
  color: white;
}
